# build.yml

name: Build Artifact

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash
    working-directory: ./web

jobs:
  test:
    name: 'Run unit tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: 'Checkout repository'

      - name: 'Install Dependencies'
        run: npm install
    
      - name: 'Run Tests'
        run: npm run test

  lint:
    name: 'Run linter'
    runs-on: ubuntu-latest
    steps:    
      - uses: actions/checkout@v2
        name: 'Checkout repository'
    
      - name: 'Install Dependencies'
        run: npm install

      - name: 'Run Linter'
        run: npx standard -v

  build:
      name: 'Build Artifact'
      runs-on: ubuntu-latest
      needs: [test, lint]
      steps:
        - uses: actions/checkout@v2
          name: 'Checkout repository'

        - name: 'Install Dependencies'
          run: npm install
      
        - name: 'Build Artifact'
          run: npm run build

        - name: 'List Folders'
          run: ls

        - name: 'Create TAR Archive'
          run: tar czf my-artifact.tar.gz ./nimble-ice-0.0.1.tgz

        - name: 'List Folders'
          run: ls

        - name: 'Downlaod Artifact'
          uses: actions/download-artifact@v2
          with:
            name: my-artifact
            path: web/my-artifact.tar.gz